<section>
    <h1 class="text-3xl font-bold mt-5 text-center text-green-500 ">Forget Password</h1>


    @if (step===1) {
        <div class="shadow-md my-10 p-4 bg-gray-50 rounded-2xl border  ">
            <form [formGroup]="verfiyEmail" (ngSubmit)="step1()">
        
                <div class="my-3">
                    <label for="email" class="block mb-2 text-base font-medium  text-green-900 dark:text-green-950">Email</label>
                    <input formControlName="email" placeholder="Please Enter Your Email" type="email" id="email"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
                
                    @if(verfiyEmail.get('email')?.errors && verfiyEmail.get('email')?.touched ){
                    <div class="flex p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                        role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                        </svg>
                        <span class="sr-only">Danger</span>
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                                @if (verfiyEmail.get('email')?.hasError('required')) {
                                <li>Email is required</li>
                                }@else if (verfiyEmail.get('email')?.hasError('email')) {
                                <li>Try to enter a valid email</li>
                                }
                
                            </ul>
                        </div>
                    </div>
                    }

                </div>
                @if (error) {
                    <div class="flex p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                            role="alert">
                            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                            </svg>
                            <span class="sr-only">Danger</span>
                            <div>
                                <ul class="mt-1.5 list-disc list-inside">
                                        <li>{{error}}</li>
                                </ul>
                            </div>
                        </div>
                }
    
                <button [disabled]="verfiyEmail.invalid"
                    [class]="{'cursor-not-allowed': verfiyEmail.invalid,'btn-gray': verfiyEmail.invalid ,'btn-green': verfiyEmail.valid}"
                    type="submit" class="">Verify Email
                    @if(isLoading){
                    <i class=" ms-4 fas fa-spin fa-spinner"></i>
                    }
                </button>
                
        
            </form>
        </div>

    }

@else if (step===2){
    <div class="shadow-md my-10 p-4 bg-gray-50 rounded-2xl border  ">
        <form [formGroup]="verfiycode" (ngSubmit)="step2()" >
    
            <div class="my-3">
                <label for="code"
                    class="block mb-2 text-base font-medium  text-green-900 dark:text-green-950">CODE</label>
                <input formControlName="resetCode" placeholder="Please Enter the code you received" type="text" id="code"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
    
                @if(verfiycode.get('resetCode')?.errors &&  verfiycode.get('resetCode')?.touched ){
                <div class="flex p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                            @if (verfiycode.get('resetCode')?.hasError('required')) {
                            <li>Code is required</li>
                            }@else if (verfiycode.get('resetCode')?.hasError('pattern')) {
                            <li>Try to enter a valid Code</li>
                            }
                        </ul>
                    </div>
                </div>
                }
            </div>

@if (error) {
<div class="flex p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
    role="alert">
    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
    </svg>
    <span class="sr-only">Danger</span>
    <div>
        <ul class="mt-1.5 list-disc list-inside">
            <li>{{error}}</li>
        </ul>
    </div>
</div>
}

            <button [disabled]="verfiycode.invalid"
                [class]="{'cursor-not-allowed': verfiycode.invalid,'btn-gray': verfiycode.invalid ,'btn-green': verfiycode.valid}"
                type="submit" class="">Verify Code
                @if(isLoading){
                <i class=" ms-4 fas fa-spin fa-spinner"></i>
                }
            </button>
        </form>
    </div>

}


@else if (step===3){
    <div class="shadow-md my-10 p-4 bg-gray-50 rounded-2xl border  ">
        <form [formGroup]="resetPassword" (ngSubmit)="step3()">
            <div class="my-3">
                <label for="reemail" class="block mb-2 text-base font-medium  text-green-900 dark:text-green-950">Email</label>
                <input formControlName="email" readonly placeholder="Please Enter Your Email" type="email" id="reemail"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            
                @if(verfiyEmail.get('email')?.errors && verfiyEmail.get('email')?.touched ){
                <div class="flex p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                            @if (verfiyEmail.get('email')?.hasError('required')) {
                            <li>Email is required</li>
                            }@else if (verfiyEmail.get('email')?.hasError('email')) {
                            <li>Try to enter a valid email</li>
                            }
            
                        </ul>
                    </div>
                </div>
                }
            
            </div>


            <div class="my-3">
                <label for="newPassword" class="block mb-2 text-base font-medium  text-green-900 dark:text-green-950">New Password</label>
                <input formControlName="newPassword" placeholder="Please Enter the New Password" type="password" id="newPassword"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
    
                @if(resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched ){
                <div class="flex p-4 mt-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                    role="alert">
                    <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <ul class="mt-1.5 list-disc list-inside">
                            @if (resetPassword.get('newPassword')?.hasError('required')) {
                            <li>Password is required</li>
                            }@else if (resetPassword.get('newPassword')?.hasError('pattern')) {
                            <li>Try to enter a valid password</li>
                            }
                        </ul>
                    </div>
                </div>
                }
    
            </div>

            <button [disabled]="resetPassword.invalid"
                [class]="{'cursor-not-allowed': resetPassword.invalid,'btn-gray': resetPassword.invalid ,'btn-green': resetPassword.valid}"
                type="submit" class="">Submit
                @if(isLoading){
                <i class=" ms-4 fas fa-spin fa-spinner"></i>
                }
            </button>
        </form>
    </div>
}

</section>